.head{
    background-color: chartreuse;
}

.try{
    background-color: darkgoldenrod;
}

.data{
    padding : 10px;
    background-color: yellowgreen;
}

.city{
    background-color: lightblue;
    color : black;
}

.case{
    background-color: rgb(255, 166, 0);
    padding : 50px;
}

.flask{
    padding: 20px;
    align-content: center;
}